<h1>Demo#hello</h1>
<p>Hi World!</p>

<%= 1+1 %>

<br />

<% target = "world" %>
<%= "Hello #{target}"%>

<% 3.times do 
	puts "xxx"
end %>

<% 3.times do %>
	<%= "xxx" %>
<% end %>

<br />

<% @array.each do |n| %>
	<%= n %><br />
<% end %>

<br />

<a href="/demo/index">Index Page 1</a>
<br />
<%= link_to('Index Page 2', {:action => 'index'}) %>
<br />
ID: <%= params[:id] %><br />
ID: <%= @id %><br />
Page: <%= @page %><br />
Next Page: <%= @page + 1 %><br />
<!-- parameters are always string, and ERB renders as string -->

<hr>
<%= params.inspect %>