<%= error_messages_for(@admin_user) %>
<div class="col-12-md" summary="admin user form fields">
	<p><%= f.label(:first_name) %></p>
	<p><%= f.text_field(:first_name) %></p>


	<p><%= f.label(:last_name) %></p>
	<p><%= f.text_field(:last_name) %></p>


	<p><%= f.label(:email) %></p>
	<p><%= f.text_field(:email) %></p>


	<p><%= f.label(:username) %></p>
	<p><%= f.text_field(:username) %></p>


	<p><%= f.label(:password) %></p>
	<p><%= f.password_field(:password) %></p>
</div>