<!DOCTYPE html>
<html>
<head>
  <title>Simple CMS<%= " | #{@page_title}" if @page_title %></title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%#= csrf_meta_tags %>
  <%= stylesheet_link_tag('application', :media => 'all') %>
  <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
	<%= render 'layouts/mainnavi' %>
	<div id="header">
		<h1>Simple CMS</h1>
		<%= link_to("Go to Admin", {:controller => 'access', :action => 'index'}, :style => 'color:#fff' ) %>
	</div>

	<div id="main">
		<div id="navigation">
			<p><%= render(:partial => 'layouts/navigation', :locals => {:subjects => @subjects}) %></p>
		</div>
		<div id="content">
			<!-- Before Yield -->
			<%= yield %>
			<!-- After Yield -->
		</div>
		<!-- To clear floating content -->
		<div class="clear"></div>
	</div>
	<div id="footer">
		<p id="copyright">&copy; jungyasu.com / Yasu Jung</p>
	</div>




</body>
</html>